%p
  %b Domain:
  = @lookup.domain
%p
  %b Title:
  = @lookup.title
%p
  %b Location:
  = @lookup.location
%p
  %b Description:
  = @lookup.description
%p
  %b Location:
  = @lookup.location
%p
  %b Example Page:
  = @lookup.example_page

= link_to 'Edit', edit_lookup_path(@lookup), :class => 'btn-info btn'
= link_to 'Destroy', @lookup, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
