= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    - if @job.logo.present?
      = image_tag @job.logo
    = f.input :url, :input_html => { :class => 'input-xxlarge' } if @job.url.blank?
    = f.input :company, :input_html => { :class => 'input-large' } if @job.company.blank?
    = f.input :location, :input_html => { :class => 'input-xlarge' } if @job.location.blank?

    = f.input :note, :label => 'Private Note', :as => :text, :input_html => { :class => 'input-xxlarge', :rows => 5 }


  .form-actions
    = f.button :submit