= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    - if @job.logo.present?
      = image_tag @job.logo
    = f.input :url, :input_html => { :class => 'input-xxlarge' }
    = f.input :title, :input_html => { :class => 'input-xlarge' }
    = f.input :company, :input_html => { :class => 'input-large' }
    = f.input :description, :as => :text, :input_html => { :class => 'input-xxlarge' }
    = f.input :location, :input_html => { :class => 'input-xlarge' }
    = f.input :logo, :input_html => { :class => 'input-xlarge' }

    .hidden-fields
      = f.input :actual_url
      = f.input :active, :as => :boolean

  .form-actions
    = f.button :submit