= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    = f.input :url, :input_html => { :class => 'input-xxlarge' }
    = f.input :title, :input_html => { :class => 'input-xlarge' }
    = f.input :company, :input_html => { :class => 'input-large' }
    = f.input :description, :as => :text, :input_html => { :class => 'input-xxlarge' }
    = f.input :location, :input_html => { :class => 'input-xlarge' }

  .form-actions
    = f.button :submit
