%article{:class => full ? 'job_article' : 'job_article span5'}
  %legend.job_legend
    =link_to job_path(j), class: 'job_title' do
      = Sanitize.clean( full ? j.title : j.title.slice(0..100) ) if j.title.present?
      %i.icon-link
    %br
    = image_tag j.logo, class: 'job_logo' if j.logo.present?
    %span.job_company_display.badge.badge-success
      = Sanitize.clean( full ? j.company : j.company.slice(0..20) ) if j.company.present?
    .job_location_display
      = Sanitize.clean( full ? j.location : j.location.slice(0..50) ) if j.location.present?
      - if j.geo_code.present? && j.geo_code[0].present? && j.geo_code.present?
        %a{ href: "/?near=#{j.geo_code[0]},#{j.geo_code[1]}"}
          Search near this
          %i.icon-map-marker
  -if j.description.present?
    .job_description_display
      = Sanitize.clean( full ? j.description : j.description.slice(0..250)) + '...' if j.description.present?
  -if show_actions
    .job_actions
      = link_to edit_job_path(j) do
        %i.icon-bookmark
        = owner ? 'Edit' : 'Save'
      = link_to '#' do # TODO Implement popover
        %i.icon-share
        Share
      -if owner
        = link_to 'Destroy', j, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = link_to j.url, target: '_blank' do
        %i.icon-share-alt
        Apply