%article{:class => full ? 'job_article' : 'job_article span5'}
  %legend.job_legend
    = Sanitize.clean( full ? j.title : j.title.slice(0..100) )
    .job_location_display
      %i.icon-map-marker
      = Sanitize.clean( full ? j.location : j.location.slice(0..50) )
  -if j.description.present?
    .job_description_display
      = Sanitize.clean( full ? j.description : j.description.slice(0..250))
    .job_actions
      = link_to edit_job_path(j) do
        %i.icon-bookmark
        = owner ? 'Edit' : 'Save'
      = link_to '#' do # TODO Implement popover
        %i.icon-share
        Share
      -if owner
        = link_to 'Destroy', j, :method => :delete, :data => { :confirm => 'Are you sure?' }