%a{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse', :class => 'btn btn-navbar'}
  %i.icon-cogs
= link_to "Jobmarking", root_path, :class => 'brand'
.nav-collapse.collapse
  %ul.nav
    %li
      = link_to 'Developers', lookups_path

  %ul.nav.pull-right
    %li
      = link_to "Explore Jobs", root_path
    - if user_signed_in?
      %li
        = link_to 'Saved Jobs', jobs_path
      %li.dropdown
        %a{ :href=> '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
          = gravatar_image current_user.email
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to 'Edit account', edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to 'Sign up', new_user_registration_path
      %li
        = link_to 'Login', new_user_session_path